html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 720px;
    }
}

.container-sm {
    max-width: 500px;
    margin: auto;
}

.footer {
    margin-top: auto;
}
